<div style="width:405px;">
  <% ajax_tabs [ ['5 Minutes', 'RealTimeStatsViewer.changeChartRange(5);'], [ '30 Minutes', 'RealTimeStatsViewer.changeChartRange(30);' ],['60 Minutes', 'RealTimeStatsViewer.changeChartRange(60);'] ], '5 Minutes' do |t| -%>
    <% t.tab do -%>
    <% end -%>
    <% t.tab do -%>
    <% end -%>
    <% t.tab do -%>
    <% end -%>
  <% end -%>
  <div id="real_time_charts"></div>
</div>

<script>

function requestRealTimeCharts() {
  RealTimeStatsViewer.requestRealTimeCharts();
}

if( RealTimeStatsViewer && google ) {
  RealTimeStatsViewer.chart.intervals = 6;
  google.load("visualization", "1", {packages:["corechart"], callback: requestRealTimeCharts});
}
</script>
