<style>

.real-time-stats {
  width:530px;
}

.real-time-stats-block {
  height:335px;
  overflow-x:hidden;
  overflow-y:auto;
}

.real-time-stats div div {
  float: left;
  width: 200px;
  height: 20px;
  overflow: hidden;
}

.real-time-stats .stats .who {
  width: 130px;
}

.real-time-stats .stats .when {
  width: 110px;
}

.real-time-stats .stats .page {
  width: 150px;
}

.real-time-stats .stats .action {
  width: 100px;
}

.real-time-stats .headers div {
  height: 25px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}

.visitor-details {
  padding: 10px;
}

.visitor-details .close {
  text-align: right;
}

</style>

<div class="real-time-stats">
  <div class="stats headers clearfix">
    <div class="who">Who</div>
    <div class="when">When</div>
    <div class="page">Where</div>
    <div class="action">Actions</div>
  </div>
</div>
<div id="real_time_stats" class="real-time-stats real-time-stats-block">
</div>

<script>
Event.observe(window, 'load', function() {
  if( RealTimeStatsViewer )
    RealTimeStatsViewer.requestRealTimeStats();
  else
    $('real_time_stats').update( '<p>Must reload page to activate widget.</p>' );
});
</script>
