<hr/>

<div class="clearfix admin_content" style="width:1240px;">

<div style="float:left;">
<div class="visitor_container" style="width:540px;">
  <div class="real-time-stats">
    <div class="stats headers clearfix">
      <div class="who">Who</div>
      <div class="when">When</div>
      <div class="page">Where / <em>Actions</em></div>
    </div>
  </div>
  <div class="visitor_container_body">
  <div id="real_time_stats" class="real-time-stats real-time-stats-block">
  </div>
  </div>
</div>
</div>

<div style="float:left; width:660px;">
<div class="visitor_container">
  <% ajax_tabs [ ['5 Minutes', 'RealTimeStatsViewer.changeChartRange(5);'], [ '30 Minutes', 'RealTimeStatsViewer.changeChartRange(30);' ],['60 Minutes', 'RealTimeStatsViewer.changeChartRange(60);'] ], '5 Minutes' -%>
  <div class="visitor_container_body" style="padding-right:10px;">
  <div id="real_time_charts"></div>
  </div>
</div>
</div>
</div>

<script>
function requestRealTimeCharts() {
  RealTimeStatsViewer.onLoad();
}
google.load("visualization", "1", {packages:["corechart"], callback: requestRealTimeCharts});
</script>
