<%= f.select :display_method, Content::CorePublication::DataPublication::DataOptions.display_method_select_options %>
<%= f.text_field :content_type, :default => 'text/xml' %>
<%= f.select :entries_displayed, [ ['Show All',0 ] ] + (1..20).to_a + (5..20).to_a.collect { |a| a * 5 } %>

