<%= f.select :url_field, @model_fields,:description => 'Field that contains the url of Item' %>
<%= f.select :title_field, @model_fields,:description => 'Field that contains the title of the item' %>
<%= f.select :description_field, @model_fields, :description => 'Field that contains the description of the item' %>
<%= f.select :published_at_field, @model_fields, :description => 'Field that contains the publication date of the item' %>
