<div class='admin_content'>
<%= "<" + "%" %> cms_form_for :options, @options, :html => {:class =>'admin_form' } do |f| <%= "-%" + ">" %>

<%= "<" + "%=" %> f.submit_tag 'Save' <%= "%" + ">" %>

<%= "<" + "%" %>  end <%= "-%" + ">" %>
</div>
