
@media print { 
  #cms_edit_page_link { display:none; }

 }

#cms_edit_page_link {
  z-index:1000;
 position:fixed;
 bottom:10%;
 right:0px;
 text-align:center;
 opacity: .4;
 filter: alpha(opacity=40);
 padding:20px 0px 10px 15px;
 background-color:#AAAAAA;
 -moz-border-radius-topleft: 10px;
 -moz-border-radius-bottomleft: 10px;
}


#cms_edit_page_link a {
 font-family:courier, monospace;
 display:block;
 text-align:center;
 margin:0px;
 padding:10px 20px;
 background-color:#CCCCCC;
 border:1px solid #DDDDDD;
 text-decoration:none;
 font-weight:bold;
 color:black;
 white-space:nowrap;
}

#cms_edit_page_link a:hover {
 background-color:#FFFFFF;

}
