<script>
  <%= active_table_javascript %>
</script>

<% if myself.client_user.client_admin? && myself.client_user.client.can_add_database? -%>
  <% action_panel do |p| %>
    <%= p.link "New Domain" ,:action => 'add', :icon => 'add.png' %>
  <% end -%>
<% end -%>
<hr/>
<div class='admin_content'>
<div id='domains_table'>
  <%= render :partial => 'domains_table' %>
</div>

</div>
