<div class='cms_form'>
  <% paragraph_options_form_for "Link to Email a Friend Options",:email_friend_link ,@options do |f| -%>
    <%= f.select :destination_page_id, @pages, :label => 'Destination Page'.t %>
  <% end -%>
</div>
