<div class='cms_form' >
  <% paragraph_options_form_for "Splash",:splash ,@options do |f| -%>
    <%= f.select :splash_page_id, @pages %>
    <%= f.text_field :cookie_name, :description => 'Name of the splash page cooke (should be different for each splash page' %>
   <% end -%>
</div>
