<% action_panel do |p| -%>
  <% if @client.can_add_domain? %>
    <%= p.link 'Add a new domain to this site', :icon => 'add.png', :action => 'edit' %>
  <% end -%>
<% end -%>

<hr/>

<div class='admin_content'>

<div id='domains_table'>
  <%= render :partial => 'domains_table' %>
</div>


</div>
