---
port: "8000"
environment: production
pid_file: /home/webiva/current/log/mongrel.pid
log_file:  /home/webiva/current/log/mongrel.log
servers: 3
cwd: /home/webiva/current
group: webiva
user: webiva
address: 127.0.0.1
