<script> 
  <%= active_table_javascript %>
</script>
<% action_panel do |p| -%>
  <%= p.link "Download Data", :action => 'download_group_data', :icon => 'download.gif' %>
<% end -%>

<hr/>

<div class='admin_content'>
<div id='email_friend_group_table'>
  <%= render :partial => 'email_friend_group_table' %>
</div>

</div>
