<script> 
  <%= active_table_javascript %>
</script>
<% action_panel do |p| -%>
  <%= p.link 'Page Statistics', :icon => 'view.gif', :action => 'tell_friends_group' %>
  <%= p.link 'Download Visible Data', :icon => 'download.gif', :action => 'tell_friends_download_all' %>
<% end -%>


<hr/>

<div class='admin_content'>
<div id='email_friend_table'>
  <%= render :partial => 'email_friend_table' %>
</div>

</div>
