.pilesofmoney-bar {font-family: arial,sans-serif; font-size: 12px; padding: 1px; }
.pilesofmoney-title {font-family: arial,sans-serif; font-size: 14px; font-weight: bold; text-align: center; }
.pilesofmoney-error {font-size: 12px; color: red; }
.pilesofmoney-barhi {font-family: arial,sans-serif; font-size: 12px; padding: 0px; background-color: #e5ecf9; border: 1px solid black; }

