<div class='cms_form'>
<h3><%= "Add Triggered Actions".t %></h3>
<div id='cms_triggered_actions' style='width:400px; height:400px; overflow:auto;'>
  <%= render :partial => '/editor/includes/actions' %>
</div>
<a class='cms_ajax_link' href='javascript:void(0);' onclick='cmsEdit.pageChanged(); cmsEdit.closeBox();'><%= "Close".t %></a>

</div>
