<%
groups = node.traffic Time.now.at_midnight, 1.day, 1
group = groups[0]
stats = group.target_stats
if stats.size > 0
-%>
<div class='tree_detail_secondary_section'>
  <h2>Page Statistics</h2>
<div id="real_time_charts"></div>
</div>

<script type="text/javascript">
function requestRealTimeCharts() {
  RealTimeStatsViewer.requestRealTimeCharts(undefined, <%= node.id %>);
}

if( RealTimeStatsViewer && google ) {
  RealTimeStatsViewer.chart.intervals = 6;
  RealTimeStatsViewer.chart.range = 60;
  google.load("visualization", "1", {packages:["corechart"], callback: requestRealTimeCharts});
}
</script>
<% end -%>
