  <%= f.text_field :title, :default => '[None]' %>
  <%= f.text_field :menu_title, :default => '[None]' %>
  <%= f.text_area :meta_keywords, :cols => 40, :rows => 4, :label => 'Keywords', :default => '[None]' %>
  <%= f.text_area :meta_description, :cols => 40, :rows => 4, :label => 'Description', :default => '[None]' %>
  <%= f.text_area :note , :cols => 40, :rows => 4, :label => 'Notes', :default => '[None]' %>
