<script>
PageEditor = {
  refreshList: function() {
    <%= remote_function :update => 'site_nodes_table', :url => url_for(:action => 'display_site_nodes_table', :path => @version.id, :language => @language) %>;
  }
}
</script>

<% action_panel do |p| -%>
  <% p.custom :right => true do -%>
    <form method="GET">
    Language: <%= select_tag :language, options_for_select(@languages, :selected => @language), :onchange => 'this.form.submit();' %>
    </form>
  <% end -%>
<% end -%>

<hr/>

<div class='admin_content'>
<div id='site_nodes_table'>
<%= render :partial => 'site_nodes_table' %>
</div>
</div>
