
<%= f.show_error_message(:base, '') %>
<%= f.text_field :username %>
<%= f.password_field :password %>
<%= f.radio_buttons :client_admin, [ ['Yes',true], ['No',false ] ] %>
<%= f.select :domain_database_id, [['--Select a domain database--', nil]] + myself.client_user.domain_database_select_options %>
<% if myself.has_role?('system_admin') -%>
<%= f.radio_buttons :system_admin, [ ['Yes',true], ['No',false ] ] %>
<% end -%>
