
/* Header Styles */
#cms_container { min-width: 960px; }
header { height:106px; display:block; position:relative; background-color:#f3f6e2; border-bottom:36px solid #603813; padding:0px 30px;  }
#cms_header_wrapper { height:142px; }
 #cms_logo { position:absolute; bottom:-36px; left:30px; z-index:10; }

#cms_manage_window { margin: 10px 20px; }

header.fixed_header {
  position:fixed; top:-114px;
  z-index:1000;
}

 nav#cms_menu { position:absolute; bottom:-36px; right:0px; height:96px; padding-right:30px; }



   nav ul { float:right; height:96px; }
   nav li { float:left; height:96px; padding-left:13px; }
   nav li a { display:block; text-decoration:none; position:relative; height:96px; width:69px; }
   nav li .menu_image { 
       width:68px; 
       height:68px;
       -moz-border-radius: 34px;
       -webkit-border-radius: 34px;
   }
   nav li .menu_image_website  { background:url(../images/framework/menu_icons.png) 0px 0px no-repeat #00b591; }
   nav li .menu_image_content  { background:url(../images/framework/menu_icons.png) -68px 0px no-repeat #f9a11b; }
   nav li .menu_image_files    { background:url(../images/framework/menu_icons.png) -136px 0px no-repeat #915fa7; }
   nav li .menu_image_people   { background:url(../images/framework/menu_icons.png) -204px 0px no-repeat #c7cb2d; }
   nav li .menu_image_marketing{ background:url(../images/framework/menu_icons.png) -272px 0px no-repeat #be1e2d; }
   nav li .menu_image_mail     { background:url(../images/framework/menu_icons.png) -340px 0px no-repeat #00bcdc; }
   nav li .menu_image_options  { background:url(../images/framework/menu_icons.png) -408px 0px no-repeat #f5d20d; }
   nav li .menu_image_system   { background:url(../images/framework/menu_icons.png) -476px 0px no-repeat #a6a8ab; }

   nav li a:hover { text-decoration:none; }
   nav li .menu_item_text { color:white; text-decoration:none; position:absolute; font-size:14px; height:14px; padding:11px 0px; text-align:center; width:69px; bottom:0px; }
   nav li a:hover .menu_item_text, nav li.selected .menu_item_text { color:#603813; background: url(../images/framework/menu_tab.png) top left no-repeat; z-index:20; text-decoration:none; }
     
   #cms_header_tools { position:absolute; right:30px; top:0px; }
   #cms_header_tools a:hover { text-decoration:underline; color:#8a5d3b; }

     #cms_header_tools_content > a, #cms_header_tools_content > div { display:block; float:left; }
     #cms_header_tools_content > a { color:#8a5d3b; padding:12px 16px 12px 0px; text-decoration:none; }
     #cms_header_return, #search_widget_form { 
      display:block;
      float:left;
      margin-right:10px;
      padding: 10px 10px; background-color:#603813; 
     -moz-border-radius-bottomright: 10px;
     -moz-border-radius-bottomleft: 10px;
     -webkit-border-bottom-left-radius: 10px;
     -webkit-border-bottom-right-radius: 10px;
    }
    #cms_header_return { padding:11px 10px; color: #c7cb2d; }
    #cms_header_return a { color: #c7cb2d; text-decoration:none; }
    #cms_header_return a:hover { color: #c7cb2d; text-decoration:underline; }
    #search_widget { border:0px; font-size:10px; padding:2px 4px; text-align:right; color:#8a5d3b; width:100px; } 
    #search_widget_autocomplete { z-index:100; }

  #cms_main_body { padding:24px 30px 0px 30px; }

/* Page Title and Breadcrumbs */

#cms_breadcrumbs { position:absolute; padding-left:30px; padding-top: 2px; color:#754c28; }
#cms_breadcrumbs a { color:#754c28; text-decoration:none; }
#cms_breadcrumbs a:hover { text-decoration:underline; }
h1 { font-size:30px; color: #754c28; float:left; padding-left:15px; font-weight:bold;  }
#RB_window h1 { float:none; padding-left:0px; }
h1.inpage { float:none; padding-left:0px;  }

.action_panel {  }
.action_panel li { float:left; padding-left:10px; }
.action_panel li a { 
  text-transform:downcase;
  color:white; display:block; padding:4px 10px; 
  background-color:#00bcdc; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration:none; 
}
.action_panel li.right { float:right; }

#more_actions_panel { clear:both; padding-left:15px; padding-top:23px;  }
#more_actions_panel li { float:left; padding-left:10px; }
#more_actions_panel li a { 
  text-transform:downcase;
  color:#754c28; display:block; padding:4px 10px; 
  text-decoration:none; 
}

.action_area { height: 60px; overflow:hidden; }
.block_left { float:left; display:block; }
.block_right { float:right; display:block; }


.admin_content { clear:both; padding-top:18px; }

.admin_left_sidebar {
  float:left;
  width:225px;
  margin-top:18px;
  border:1px solid  #bcd9e3;
  background-repeat:repeat-y;
}

.admin_left_sidebar .top {
  height:20px;
  background-color:#bcd9e3;
}

.admin_left_sidebar .content {
 padding:10px;
}


.admin_left_sidebar .bottom {
  height:1px;
  background-color:#bcd9e3;
}


.admin_left_sidebar .actions {
  display:block;
  list-style:none;
  margin:0px;
  padding:0px;
}

.admin_left_sidebar .actions li {
  display:block;
  padding:5px 0px;
}


.admin_left_sidebar .actions li a {
  color:#3b648c;
 font-weight:bold;
  text-decoration:none;
}


.admin_center_content {
  float:left;
  padding-left: 35px;

}

.admin_content_clear {
 clear:both;

}

hr { clear:both; border:0px; color:white; background-color:white; height:10px; }

/* Tree Container */

.tree_container { 
  width:325px; background-color:#cce5e9; padding:20px 6px 10px 6px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float:left;
  margin-right:10px;
 
 }
 .file_tree_container { width:240px !important; }
.tree_container h2{ 
  padding-left:10px;
 } 
 .tree_container_body {
  background-color:white;
  padding:12px 0px 12px 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow:hidden;
 }



 .add_elements_fixed { position:fixed !important; top:35px; left:30px; }

 .add_elements_button_fixed { position:fixed; top:95px; left:-60px; -webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg);	} 

 .tree_detail { 
   margin:0 0 0 360px;
   position:relative;
   background-color:#cce5e9; padding:20px 10px 10px 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  z-index:500;
 }

 .file_tree_detail { margin: 0 0 0 270px !important; }
 
 .tree_detail h2 {  min-height:35px; padding-bottom:0px; position:relative; padding-top:5px; top:-5px; overflow:hidden; }
 .tree_container h2 { padding-bottom:0px; min-height:35px; }

 .action_area form input[type=text] {
     border:1px solid #d2b390;
     padding:4px 10px;
     font-size:14px;
  }
 
 .tree_detail_body {
    background-color:white;
  padding:12px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin:0px 0px 15px 0px;
   color:#754c28;
   line-height:1.4em;
   position:relative;

 }

 .tree_detail_primary_section { 
   width:580px; float:left;  color:#754c28; line-height:1.4em; 
   margin-top:15px;
   position:relative;
 }

 .tree_detail_primary_section h2 { color:#603813; }
 .tree_detail_secondary_section { 
    width: 400px; float:left;   color:#754c28; line-height:1.4em; 
   margin-top:15px; position:relative;
}
 .tree_detail_main_section { 
   width: 580px;  color:#754c28; line-height:1.4em; 
   margin-top:15px; position:relative;
 }
    
	.node_root {
	margin:0 0 0 0;
	padding:0px;
	}
	
	
	.node { margin:0 0 0 23px; padding:0px; white-space:nowrap; 	}
  .node_children_first { margin-left:-23px; }
	.node_accept { 	background-color:#CC9999; 	}
	.node_handle {	cursor:move;	margin:0 0 0 2px;	}
	.node_handle_icon { cursor:move;	padding:0px; margin:0px;vertical-align:middle; }
	.node_title { position:relative; padding:0; margin:0; vertical-align:middle; color: #754c28;
                text-decoration:none; cursor:pointer; font-size:12px; }
  .node_title:hover { color: #754c28; font-size:12px; cursor:pointer; text-decoration:underline;
                      position:relative; padding:0; margin:0; vertical-align:middle; }
	.node_title_edit { color:#808080;	text-decoration:none;	position:relative; 	
                     padding:0; margin:0;	vertical-align:middle;	}
  .node_line { display:inline-block; padding:2px 10px 2px 0px; }

	.node_selected { background-color:#cce5e9 !important; }
	
	.overlay_node {
	margin:0 0 0 12px;
	padding:0px;
	
	}	
	
  .add_mod_elem, .add_node_elem, .add_module_elem { float:left; padding-right:20px; }
  .add_mod_elem > a, .add_node_elem > a, .add_module_elem > a { text-decoration:none; color:#7a5534; }

  .site_node_modifier { width:17px; height:17px; display:inline-block; vertical-align:middle;}
  .site_node { width:17px; height:17px; display:inline-block;  vertical-align:middle;}
  .domain_node { background:url(../images/icons/site_tree.gif) -34px 0px no-repeat; }
  .page_node { background:url(../images/icons/site_tree.gif) -51px 0px no-repeat; }
  .module_node { background:url(../images/icons/site_tree.gif) -68px 0px no-repeat; }
  .redirect_node { background:url(../images/icons/site_tree.gif) -85px 0px no-repeat; }
  .document_node { background:url(../images/icons/site_tree.gif) -135px no-repeat; }
  .group_node { background:url(../images/icons/site_tree.gif) -152px 0px no-repeat; }

  .framework_modifier { background:url(../images/icons/site_tree.gif) 0px 0px no-repeat; }
  .template_modifier{ background:url(../images/icons/site_tree.gif) -17px 0px no-repeat; }
  .lock_modifier{ background:url(../images/icons/site_tree.gif) -101px 0px no-repeat; }
  .ssl_modifier{ background:url(../images/icons/site_tree.gif) -118px 0px no-repeat; }
  .domain_modifier{ background:url(../images/icons/site_tree.gif) -169px 0px no-repeat; }

  .sprite_icon {  width:17px; height:17px; display:inline-block; vertical-align:middle;}
  .folder_sprite { background:url(../images/icons/site_tree.gif) -152px 0px no-repeat; }
  .folder_template_sprite { background:url(../images/icons/site_tree.gif) -186px no-repeat; }
  .folder_galleries_sprite { background:url(../images/icons/site_tree.gif) -186px no-repeat; }
  .folder_gallery_sprite { background:url(../images/icons/site_tree.gif) -205px no-repeat; }
  .domain_sprite { background:url(../images/icons/site_tree.gif) -169px 0px no-repeat; }
  .lock_sprite{ background:url(../images/icons/site_tree.gif) -101px 0px no-repeat; }

  .page_detail_buttons { float:right; }
  .page_detail_buttons > li { float:left; margin-left:5px; }
  .page_detail_buttons > li > a { 
    font-size:14px;
    font-weight:bold;
    text-transform:capitalize;
    text-decoration:none;
    color:#cce5e9;
    background-color:#8a5d3b; display:inline-block; padding:5px; 
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   }
   .page_detail_buttons li a.image_icon_selected { background-color:#a46f46; }
   .page_detail_buttons li.icon a { padding: 2px 5px; }
  .page_detail_buttons li.selected a { color:white; }

/* Active Tree */

ul.active_tree { 
  list-style-type: none;
  
  padding: 0px;
  margin: 12px;
}

ul.active_tree ul { 
  list-style-type: none;
  display:block;
  margin-left:14px;
  clear: both;
}


ul.active_tree li {
  margin-top: -6px;
  padding:3px 0px 3px 0px;
  clear:both;
  position:relative;
}

ul.active_tree li a {
  padding: 2px 0 0 0px;
}

ul.active_tree li .handle {
  float:left;
  display:block;
  background: url(../images/icons/tree/file.png) no-repeat left top;
  width:14px;
  height:12px;
  padding:4px 0 0 0;
  position:relative;
  z-index:40;
  cursor: move;
}

ul.active_tree li.file {
  padding-left: 18px;
}
ul.active_tree li.file a {
  padding-left: 18px;
  background: url(file.png) no-repeat left top;
}
ul.active_tree li span.toggle {
  display: block;
  float: left;
  width: 15px;
  height: 14px;
  margin: 0px 3px 0 0;
  cursor: pointer;
  position:relative;
  z-index:40;
  top:-2px;
}

ul.active_tree li .active_tree_leaf_content { 
  position:relative;
  z-index:50;
}

ul.active_tree li span.toggle {
  background: url(../images/icons/tree/last_open.gif) top left no-repeat;
}

ul.active_tree li.active_tree_leaf span.no_children {
  background: url(../images/icons/tree/last.gif) top left;
}

ul.active_tree li.closed span.toggle {
  background: url(../images/icons/tree/last_closed.gif) top left no-repeat;
}
ul.active_tree li.closed li {
  display: none;
}

ul.active_tree li .active_tree_dropper { 
  position:absolute;
  left:-20px;
  width:200px;
  height:20px;
  top:0px;
  z-index:0;
}

ul.active_tree li.drop_hover >  .active_tree_dropper {
  background: url(../images/icons/tree/drag.png) no-repeat bottom left;
}
ul.active_tree li.drop_top > .active_tree_dropper {
  background-position: 12px top !important;
}
ul.active_tree li.drop_bottom > .active_tree_dropper {
  background-position: 12px bottom !important;
  top:auto !important;
  bottom:0px !important;
}
ul.active_tree li.drop_insert > .active_tree_dropper {
  background-position: 32px 100% !important;
}

.active_tree_last_item { 
     background: url(../images/icons/menu/last_top.gif) no-repeat top left;
}

.active_tree_center_item { 
    background: url(../images/icons/menu/line.gif) repeat-y top left;
}

.active_tree_selected_leaf > .active_tree_leaf_content { background-color:#DDDDDD; }

/* Editor Forms */
.full_page_form table.styled_table {
 width:100%;
}

/* Content Models */
.content_models {

}

.content_model {
  display:block; 
  float:left; 
  padding:10px; 
  width:260px; 
  text-align:left; 
  border:1px solid #CCCCCC; 
  margin:5px;
  text-decoration:none;
  overflow:hidden;
}

.content_model:hover {
  background-color:#DDDDDD;
}

/* Permission Grid */

table.permission_grid td {
 padding:4px;
}

/* File Manager Stuff */

div.file_manager_directory { margin:5px; }

#upload_action { height:60px; }

.file_manager_icon { display:block; padding-top:10px; }

.file_manager_icon div.fm_element {
 display:block;
 text-align:center;
 float:left;
 width:80px;
 height:auto;
 position:relative;
 margin:2px 4px;
 padding:10px 2px;
 border:0px;
}

.file_manager_icon .fm_image {
  width:64px; 
  margin:0px 8px;
  height:64px; 
  vertical-align:middle; 
  display:table-cell;
  text-align:center; 
  position:relative;
  z-index:400;
}
#folder_order select, #user_segments_user_segment_id {
  color:white;
  background-color:#00b591;
  border:0px;
  -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
  padding:5px 3px;
}
#folder_order select:active {
  outline:none;
}
fm_image_img {
  background-color:#DDDDDD;
}

.file_manager_icon .fm_dragger { width:70%; height:70%; position:absolute; left:15%; top:5%; z-index:1000; cursor:pointer; }

.file_manager_icon .fm_accept { 	background-color:#DDDDDD; }

.file_manager_icon .fm_handle {   cursor:move; }

.file_manager_icon .fm_title { 	
  height:35px;	width:80px;	text-align:center;	overflow:hidden; 	color:#808080;	text-decoration:none;	position:relative; 
  color: #754c28;  font-size:10px; font-weight:bold;
  word-wrap: break-word;
}

.file_manager_icon .fm_extension { 	position:absolute;	top:0px;	right:4px;	text-align:right;	color:#FF0000;	font-size:8px;	font-weight:bolder; }
.file_manager_icon .fm_processing {	position:absolute;	top:20px;	left:4px;	z-index:20;	text-align:right;	color:#FF0000;	font-size:8px;	font-weight:bolder; }
.file_manager_icon .fm_lock { position:absolute; top:-10px;  left:0px;  text-align:left;  color:#FF0000;  font-size:8px;  font-weight:bolder; }

.file_manager_icon .fm_element .fm_details { display:none; }

.file_manager_icon .fm_cover { 
  width:100%; height:100%; position:absolute; top:-10px;
  -moz-border-radius: 10%;
 -webkit-border-radius:5px;
}

#file_upload_area {
 height:25px;

}

#folder_title { padding-bottom:5px; }


.file_manager_list {
 display:block;
 width:100%;
 float:left;
 padding:5px;
}

.file_manager_list div.fm_element {
 clear:both;
 display:block;
 text-align:center;
 height:auto;
 position:relative;
 margin:1px 0px;
 padding:0px 5px;
 border:0px;
 border-bottom:1px solid #CCCCCC;
}

.fm_image { position:relative; }
.file_manager_list .fm_dragger { width:20%; height:100%; position:absolute; left:0%; top:%0; z-index:1000; cursor:pointer; }

.file_manager_list div.fm_element .fm_image {
  float:left;
  width:64px; 
  margin:0px 8px;
  height:64px; 
  vertical-align:middle; 
  text-align:center; 
  display:table-cell;
  position:relative;
  z-index:400;
  padding-top:5px;
}

.file_manager_list {  }

.file_manager_list div.fm_element  .fm_image_container {  float:left; }
.file_manager_list div.fm_element  .fm_handle, .file_manager_list div.fm_element .fm_parent {  float:left; }

.file_manager_list .fm_element .fm_details { font-size:10px; font-weight:normal; font-style:italic;  }

.file_manager_list div.fm_element  .fm_title {
  text-align:left;
	height:2.6em;
	color:#754c28;
	text-decoration:none;
	position:relative; 
	padding:0;
	margin:0px;
	margin-left:100px;
  font-size:12px;
  font-weight:bold;
  word-wrap: break-word;
  overflow:hidden;
}

.file_manager_list .fm_cover {   width:100%; height:100%; position:absolute; top:0px; left:-1px; }
.file_manager_list .fm_extension { 	position:absolute;	top:0px;	left:0px;	text-align:right;	color:#FF0000;	font-size:8px;	font-weight:bolder; }

.fm_lock { 
  position:absolute;
  top:-10px;
  left:0px;
  text-align:left;
  color:#FF0000;
  font-size:8px;
  font-weight:bolder;

}

.file_manager_list .fm_lock { top:15px; left: 0px; }

.fm_highlight { }
.fm_highlight a {  }
.fm_highlight .fm_cover {
  background-color:#56a1cd;
  opacity: .4;
 }


.fm_dragging {  }


.fm_item_count {
  width:100%;
  position:absolute;
  top:20%;
  left:0px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  z-index:500;
}


#fm_dragbox {
  position:absolute;
  border: 1px solid #2a5278;
  background-color: #56a1cd;
  z-index: 1000;
  opacity: .6;
  
}


#fm_file_name { 
  text-align:left;  
  padding: 0px; 
  color: #603813; 
  margin-bottom:5px; 
  font-size:18px;
 }


#fm_file_image_details { padding-top:8px; }

#fm_file_name_content {float:left; }
#fm_file_name button { display:block; margin-left:5px; float:right; padding:0px; border:none; color:#00bcdc; background-color:white; text-decoration:underline; font-size:10px;}

#fm_file_image { text-align:center; padding:6px 0px; border:4px solid #f1f2f2; margin:5px 0px; }

#fm_file_actions { margin:0px 0px 10px 0px; }
#fm_file_actions button.last { float:right; }

#fm_file_name_form input { width:95%; border:1px solid #CCCCCC; background-color:white; padding:0px 4px; color:#666666; float:left; }

#fm_insert { text-align:left;  padding: 5px; color: #666666; border:1px solid #CCCCCC;  margin-bottom:5px; font-weight:bold;  }

#slider_wrapper { position:absolute; top:30px; right:0px; }


.slider_container {
 position:relative;
 text-align:left;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 background-color:#23c1dc;
 border:1px solid #46c9e0; 
 height:24px;
 margin:0px;
 padding:0px 6px 0px 6px;
 width:104px;
 z-index:100;
 background: -moz-linear-gradient(
    center bottom,
    rgb(73,197,219) 0%,
    rgb(136,212,225) 86%
);
background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(73,197,219)),
    color-stop(0.86, rgb(136,212,225))
);



}

.slider_box { 
 width:104px;
 height:24px;
 background:url(../images/framework/filemanager_slider_box.png) center center no-repeat;
 }

.slider {
 position:relative;
 left:0px;
 width:5px;
 height:14px;
 padding:6px 10px;
 cursor:pointer;
}

.slider_cursor { background-color:#f9a11b; width:5px; height:14px; }


.file_input_textbox
{
	float: left
}

.filemanager_file_input
{
  margin-left:10px;
  margin-right:2px;
	position: relative; 
	width: 65px; 
	height: 30px; 
	overflow: hidden;
  display:block;
  float:left;
}


.filemanger_file_input .button_link
{
	width: 73px; 
	position: absolute; 
	top: 0px;
}

.file_input_hidden
{
	font-size: 45px; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	opacity: 0; 
	
	filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
}



/* Redbox */

#RB_overlay {
  position: absolute;
  z-index:1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height:100%;
  background-color: #000;
  opacity: .3;
  filter: alpha(opacity=30);
}

#RB_redbox {
  width: 100%;
  position: absolute;
  left:0px;
  top: 0px;
  z-index:1002;


}

#RB_loading {
  position: relative;
  top: 200px;
  z-index: 1001;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/redbox_spinner.gif) no-repeat center center;
}

#RB_window {
  z-index: 1002;
  display: block;
  text-align: left;
/*  overflow: hidden;*/
  margin: 20px auto 0 auto;
  position: absolute;  

 -moz-border-radius: 25px;
 -webkit-border-radius: 25px;
 padding:5px;
 margin:0px;
 -moz-box-shadow: 20px 20px 20px #666;
-webkit-box-shadow: 20px 20px 20px #666;
 box-shadow: 20px 20px 20px #666;

 background: -moz-linear-gradient(
    center bottom,
    rgb(73,197,219) 0%,
    rgb(136,212,225) 86%
);
background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(73,197,219)),
    color-stop(0.86, rgb(136,212,225))
);





}

#RB_window h3 { font-size:24px; padding-bottom:10px; }

.cms_form { 
  padding:20px;
  background-color:white;
 -moz-border-radius: 25px;
 -webkit-border-radius: 25px;


}



/* Full Page Wizards */

#wizard_table {
  margin-top:20px; 
  clear:both; 
  height:450px;
}

#wizard_steps {
  width:170px !important;
}

#wizard_content {

}

.wizard_div {

}

#wizard_buttons {
 height:30px;
 text-align:right;
 padding-right:20px;
}

/* In Page Wizards */

.wizard_steps_box {
  margin:0;
  padding:10px 0 10px 55px;
  text-align:center;
}


.wizard_steps_box td {
  padding: 5px 15px 5px 15px;
  text-align: center;
  width: 180px;
  color:#3b648c;
  font-weight: bold;
  font-size: 11px;
  background-color:#c3e3e7;
}

.wizard_steps_box td a {
  color:#3b648c;
}

.wizard_steps_box td.arrow {
  text-align: center;
  width: 30px;
  color:#3b648c;
  background-color:#fff;
}

.wizard_steps_box td.selected {
  background-color:#f3e380;
}

#wizard .tree_detail { margin: 0 0 0 190px; }

/* Search */

.search_result { padding-bottom:10px; }
.search_result h2 {  padding-bottom:0px; margin-bottom:0px; }
.search_result .info {  font-style:italic; color:#999999; }

/* Dashboard */


.dashboard_widget_column { 
  height:auto !important;
  min-height:500px;
  height:500px;
  padding:10px 5px;
}

.dashboard_widget_column_add { 
  color:#c84800;
  background-color:#d4a451;
  text-align:center;
  padding:5px 5px;
   border-radius:5px;        
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor:pointer;
  margin:5px 5px 10px 5px;
}


.dashboard_widget { 
  padding:0px 0px; 
  background-color: #bbd6e1;
  color:white;
  display:block;
  font-weight:bold;
  text-decoration:none;  
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin:10px 0px 15px 0px;
  padding-bottom:10px;
                    }

.dashboard_widget_titlebar .dashboard_widget_title_text a { 
 color:#3b648c;

}

.dashboard_widget_titlebar { 
  color:#3b648c;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
   padding:5px 10px 6px 10px;
  position:relative;
  

}

.dashboard_widget_hidden .dashboard_widget_icon {  display:none;  }
 
.dashboard_widget_icon { 
  position:absolute;
  left:0px;
  top:-15px;
  
 }

.dashboard_widget_title { 
   padding-right:40px;
   padding-top: 0px;
   padding-left: 35px;
 }

.dashboard_widget_hidden { 
  background-color:#CCCCCC;
  opacity:0.5;
 }

.dashboard_widget_titlebar_move { 
 cursor:pointer;

}


.dashboard_widget_titlebar a { 
     color:white;
 }

.dashboard_widget_tools { 
  position:absolute;
  right:10px;
  top:5px;
                        }

.dashboard_widget_body { 
  overflow:hidden;
  background:white;
  margin:3px 3px;
  padding:10px 10px 10px 10px;
  color:black;
  font-weight:normal;
  margin-bottom:10px;
 }


/* Mini Table */

table.mini_table {  }

table.mini_table th { padding:4px 4px; text-align:left; color:#3b648c; font-weight:bold }
table.mini_table td { color: #808080; padding:2px 4px;  }
table.mini_table td a { color:#3b648c; text-decoration:none;  }
table.mini_table td a:hover { text-decoration:underline;  }
table.mini_table td em { color:#b3b3b3; }


/* Progress Bar */

.progress_bar { 
   position:relative;
   text-align:center; 
   height:25px;
   background-color:white;
   width:400px;
   border:1px solid #53789d;
 }

.progress_bar .progress { 
   position:absolute; 
   z-index: 1;
   left:0px;
   top:0px;
   height:25px;
   background-color:#bbd6e1;
 }

.progress_bar .progress_indicator { 
  position:absolute; 
  text-align:center;
  top:5px;
  width:400px;
  color:#53789d;
  z-index:2;
 }

/* Realtime Stats */
 
 .real-time-stats {  width:530px; }


.real-time-stats-block {
  height:335px;
  overflow-x:hidden;
  overflow-y:auto;
}

.real-time-stats .row, #RB_redbox div.cms_form .real-time-stats .row { padding: 3px 0 3px 2px; }

.real-time-stats .header { padding: 5px 0;}
.real-time-stats .stats .who    { width: 123px; float: left; padding: 0 5px 0 2px; }
.real-time-stats .stats .when   { width: 90px;  float: left; }
.real-time-stats .stats .date   { width: 140px;  float: left; color:#7A5534; }
.real-time-stats .stats .page   { width: 255px; float: left; }
.real-time-stats .stats .page2  { width: 250px; float: left; }
.real-time-stats .action  { font-style: italic; padding: 2px 0 0 220px; color: green; }
.real-time-stats .action2, #RB_redbox div.cms_form .action2  { font-style: italic; padding: 2px 0 0 140px; color: green; }

.real-time-stats .headers div, #RB_redbox div.cms_form .real-time-stats .headers div {
  height: 18px;
  color:#7A5534;
  text-align: left;
  font-weight: normal;
  margin-left: 5px;
  font-size: 15px;
}


.visitor-details {
  height: 400px;
  overflow-x:hidden;
  overflow-y:auto;
  padding: 10px;
}

.visitor-details .close {
  text-align: right;
}

/* Action Icon Table */
.action_icon_table { width:920px; }

.action_icon_table td.icon { text-align:center; vertical-align:bottom; padding-bottom:10px; }
.action_icon_table td.txt { text-align:center; vertical-align:center; }

.action_icon_table td a { font-size: 16px; color: #603813; }
.action_icon_table td a:hover { text-decoration:none; }


.action_icon_mouseover { 
  margin-top:31px;
  width:920px;
  background-color:#cce5e9; 
  padding:20px 10px 10px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}


.action_icon_mouseover_body { 
  color:#754c28;
  background-color:white;
  padding:20px 10px 10px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  height:50px;
}


table.display_table {
  border-width: 0;
  border-spacing: 0;
  border-style: none;
  padding: 0;
  margin: 0;
}

table.display_table th {
  background-color:#c3e3e7;
  color:#3b648c;
  text-align: left;
  font-size: 12px;
  padding:7px 0 7px 10px;
}

table.display_table td {
  border-width: 0;
  border-spacing: 0;
  border-style: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

table.display_table td.separator {
  font-size: 0;
  border-left: 1px dotted #aaa;
  width: 1px;
}

table.display_table td.spacer {
  font-size: 0;
  width: 4px;
}

table.display_table td.base {
  background-color:#c3e3e7;
  font-size: 0;s
  height: 10px;
}

table.display_table td.title {
  background-color:#eeeeee;
  color:#3b648c;
  font-weight: bold;
  text-align: left;
  font-size: 11px;
  padding:5px 0 5px 10px;
}

table.display_table td.label {
  color:#3b648c;
  font-weight: bold;
  text-align: right;
  font-size: 11px;
  padding:3px;
}

table.display_table td.field {
  font-size: 11px;
  padding:3px 0 3px 0;
}

.visitor_container { 
  background-color:#cce5e9;
  padding:20px 6px 10px 6px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float:left;
  margin-right:10px;
  display: inline-block;
}

.cms_form .visitor_container {
  float: none;
  margin-top: 10px;
}

.visitor_container .heading {
  padding:0 10px;
} 

.visitor_container_body {
  background-color:white;
  padding:12px 0px 12px 8px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-topright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius-topright: 10px;
  overflow:hidden;
}

.visitor_container .heading .button_link {
  background-color:#cce5e9;
  color: #754C28;
  font-size: 15px;
}

.visitor_container .heading .selected {
   background-color:#f3f0e0;
}

.tab_container { 
  background-color:#cce5e9;
  padding:20px 6px 10px 6px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float:left;
  margin-right:10px;
  display: inline-block;
}


#zone_display { padding:10px 0px; }



ul.sortable_list_remove {
 position:relative;
 display:block;	
 width:200px;
 border:1px solid #000000;
 margin:10px 0;
 padding:5px;
 height:30px;
 background-color:#000000;

}

ul#zones {
  position:relative;
  list-style: none;
  display:block;	
  margin:0px 0px;
  padding:0px;
  background-color:#CCCCCC;
  margin-left:90px;
}

ul#zones li {
	display:block;
	list-style: none;
	cursor:move;
	float:left;
	margin: 0 2px 0 0;
  padding:4px 0px;
	width:125px;
	overflow:hidden;
  background-color:#f3e380; 
  color:#3b648c;
  text-align:center;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;

}


ul#zones_example {
  position:relative;
  list-style: none;
  display:block;	
  margin:0px 0px;
  padding:0px;
  height:30px;
  overflow:hidden;

}

ul#zones_example li.first {
  background-color:white;
  font-size:14px;
  width:90px;
  color:#9fa2a2;
}

ul#zones_example li {
	display:block;
	list-style: none;
	float:left;
	margin: 0;
	width:125px;
	overflow:hidden;
	color:#000000;
  text-align:center;
  color:#a6cdda;
  font-size:24px;

}

ul#zones_example li.last {
	border:0px;
}

/* Designs Styles */

.style_display {
 margin:5px; 
 padding:5px;
 border:1px solid #000000;
 width:300px; 
 height:420px; 
 overflow:auto; 
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
}

.template_style {
 margin:3px;
 border-bottom:1px solid #CCCCCC;
 padding:4px;
 cursor:pointer;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
}

