
/* Header Styles */
#cms_container { min-width: 960px; }
header { height:106px; display:block; position:relative; background-color:#f3f6e2; border-bottom:36px solid #603813; padding:0px 50px;  }
 #cms_logo { position:absolute; bottom:-36px; left:50px; z-index:10; }
 nav#cms_menu { position:absolute; bottom:-36px; right:0px; height:96px; padding-right:50px; }
   nav ul { float:right; height:96px; }
   nav li { float:left; height:96px; padding-left:13px; }
   nav li a { display:block; text-decoration:none; position:relative; height:96px; width:69px; }
   nav li .menu_image { 
       width:68px; 
       height:68px;
       -moz-border-radius: 34px;
       -webkit-border-radius: 34px;
   }
   nav li .menu_image_website  { background:url(../images/framework/menu_icons.png) 0px 0px no-repeat #00b591; }
   nav li .menu_image_content  { background:url(../images/framework/menu_icons.png) -68px 0px no-repeat #f9a11b; }
   nav li .menu_image_files    { background:url(../images/framework/menu_icons.png) -136px 0px no-repeat #915fa7; }
   nav li .menu_image_people   { background:url(../images/framework/menu_icons.png) -204px 0px no-repeat #c7cb2d; }
   nav li .menu_image_marketing{ background:url(../images/framework/menu_icons.png) -272px 0px no-repeat #be1e2d; }
   nav li .menu_image_mail     { background:url(../images/framework/menu_icons.png) -340px 0px no-repeat #00bcdc; }
   nav li .menu_image_options  { background:url(../images/framework/menu_icons.png) -408px 0px no-repeat #f5d20d; }
   nav li .menu_image_system   { background:url(../images/framework/menu_icons.png) -476px 0px no-repeat #a6a8ab; }

   nav li .menu_item_text { color:white; text-decoration:none; position:absolute; font-size:14px; height:14px; padding:11px 0px; text-align:center; width:69px; bottom:0px; }
   nav li a:hover .menu_item_text, nav li.selected .menu_item_text { color:#603813; background: url(../images/framework/menu_tab.png) top left no-repeat; z-index:20; }
     
   #cms_header_tools { position:absolute; right:50px; top:0px; }
   #cms_header_tools a:hover { text-decoration:underline; }

     #cms_header_tools_content > a, #cms_header_tools_content > div { display:block; float:left; }
     #cms_header_tools_content > a { color:#8a5d3b; padding:12px 16px 12px 0px; text-decoration:none; }
     #cms_header_return, #search_widget_form { 
      display:block;
      float:left;
      margin-right:10px;
      padding: 10px 10px; background-color:#603813; 
     -moz-border-radius-bottomright: 10px;
     -moz-border-radius-bottomleft: 10px;
     -webkit-border-bottom-left-radius: 10px;
     -webkit-border-bottom-right-radius: 10px;
    }
    #cms_header_return { padding:11px 10px; }
    #cms_header_return a { color: #c7cb2d; text-decoration:none; }
    #search_widget { border:0px; font-size:10px; padding:2px 4px; text-align:right; color:#8a5d3b; width:100px; } 
    #search_widget_autocomplete { z-index:100; }

  #cms_main_body { padding:24px 50px 0px 50px; }

/* Page Title and Breadcrumbs */

#cms_breadcrumbs { padding-left:15px; color:#754c28; }
#cms_breadcrumbs a { color:#754c28; text-decoration:none; }
#cms_breadcrumbs a:hover { text-decoration:underline; }
h1 { font-size:30px; color: #754c28; float:left; padding-left:15px; font-weight:bold;  }
h1.inpage { float:none; padding-left:0px;  }

.action_panel {  }
.action_panel li { float:left; padding-left:10px; }
.action_panel li a { 
  text-transform:downcase;
  color:white; display:block; padding:4px 10px; 
  background-color:#00bcdc; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration:none; 
}
.action_panel li.right { float:right; }

#more_actions_panel { clear:both; padding-left:15px; padding-top:23px;  }
#more_actions_panel li { float:left; padding-left:10px; }
#more_actions_panel li a { 
  text-transform:downcase;
  color:#754c28; display:block; padding:4px 10px; 
  text-decoration:none; 
}
.admin_content { clear:both; padding-top:18px; }

hr { clear:both; border:0px; color:white; background-color:white; height:10px; }

/* Tree Container */

.tree_container { 
  width:325px; background-color:#cce5e9; padding:20px 6px 10px 6px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float:left;
 
 }
.tree_container h2{ 
  padding-left:10px;
 } 
 .tree_container_body {
  background-color:white;
  padding:12px 0px 12px 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow:hidden;
 }

 .add_elements_fixed { position:fixed !important; top:0px; left:50px; }

 .add_elements_button_fixed { position:fixed; top:65px; left:-45px; -webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg);	} 

 .tree_detail { 
   position:relative;
    margin:0px 0px 0px 365px; 
   background-color:#cce5e9; padding:20px 10px 10px 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  z-index:500;
 }

 .tree_detail h2 { overflow:hidden; }

 .tree_detail_body {
    background-color:white;
  padding:15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin:10px 0px;
   color:#754c28;
   line-height:1.4em;

 }

 .tree_detail_primary_section { 
   width:580px; float:left;  color:#754c28; line-height:1.4em; 
   margin-top:15px;
 }

 .tree_detail_primary_section h2 { color:#603813; padding-bottom:10px; }
 .tree_detail_secondary_section { 
   width: 400px; float:left;   color:#754c28; line-height:1.4em; 
   margin-top:15px; position:relative;
 }
    
	.node_root {
	margin:0 0 0 0;
	padding:0px;
	}
	
	
	.node { margin:0 0 0 23px; padding:0px; white-space:nowrap; 	}
  .node_children_first { margin-left:-23px; }
	.node_accept { 	background-color:#CC9999; 	}
	.node_handle {	cursor:move;	margin:0 0 0 2px;	}
	.node_handle_icon { cursor:move;	padding:0px; margin:0px;vertical-align:middle; }
	.node_title { position:relative; padding:0; margin:0; vertical-align:middle; color: #754c28;
                text-decoration:none; cursor:pointer; font-size:12px; }
  .node_title:hover { color: #754c28; font-size:12px; cursor:pointer; text-decoration:underline;
                      position:relative; padding:0; margin:0; vertical-align:middle; }
	.node_title_edit { color:#808080;	text-decoration:none;	position:relative; 	
                     padding:0; margin:0;	vertical-align:middle;	}
  .node_line { display:inline-block; padding:2px 10px 2px 0px; }
	.node_selected { background-color:#cce5e9; }
	
	.overlay_node {
	margin:0 0 0 12px;
	padding:0px;
	
	}	
	
  .add_mod_elem, .add_node_elem, .add_module_elem { float:left; padding-right:20px; }
  .add_mod_elem > a, .add_node_elem > a, .add_module_elem > a { text-decoration:none; color:#7a5534; }

  .site_node_modifier { width:17px; height:17px; display:inline-block; vertical-align:middle;}
  .site_node { width:17px; height:17px; display:inline-block;  vertical-align:middle;}
  .domain_node { background:url(../images/icons/site_tree.gif) -34px 0px no-repeat; }
  .page_node { background:url(../images/icons/site_tree.gif) -51px 0px no-repeat; }
  .module_node { background:url(../images/icons/site_tree.gif) -68px 0px no-repeat; }
  .redirect_node { background:url(../images/icons/site_tree.gif) -85px 0px no-repeat; }
  .document_node { background:url(../images/icons/site_tree.gif) -135px no-repeat; }
  .group_node { background:url(../images/icons/site_tree.gif) -152px 0px no-repeat; }

  .framework_modifier { background:url(../images/icons/site_tree.gif) 0px 0px no-repeat; }
  .template_modifier{ background:url(../images/icons/site_tree.gif) -17px 0px no-repeat; }
  .lock_modifier{ background:url(../images/icons/site_tree.gif) -101px 0px no-repeat; }
  .ssl_modifier{ background:url(../images/icons/site_tree.gif) -118px 0px no-repeat; }


  .page_detail_buttons { float:right; }
  .page_detail_buttons li { float:left; margin-left:5px; }
  .page_detail_buttons li a { 
    font-size:14px;
    font-weight:bold;
    text-transform:capitalize;
    text-decoration:none;
    color:#cce5e9;
    background-color:#8a5d3b; display:inline-block; padding:5px; 
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   }
   .page_detail_buttons li.icon a { padding: 2px 5px; }
  .page_detail_buttons li.selected a { color:white; }


