

/* Body Styles */
body
  {
 color: #000;
 }


/* Generic Ajax Styles */
	
.ajax_loader {
  width:100%;
  padding-top:20px;
  height:150px;
  background-image:url(/images/loading.gif);
  background-position: center center;
  background-repeat:no-repeat;
}

.cms_ajax_link {
  padding:0 4px;
  margin:0;
  color: #6765f6;
  text-decoration:none;
}


.cms_ajax_link:visited {
  padding:0 4px;
  margin:0;
  color: #6566f4;
  text-decoration:none;
}

.cms_ajax_link:hover {
  padding:0 4px;
  margin:0;
  color: #005acf;
  background-color:#cfc300;
  text-decoration:none;
}


.cms_ajax_link_selected {
  padding:0 4px;
  margin:0;
  color: #FFFFFF;
  background-color:#DDDDDD;
  text-decoration:none;
  font-weight:bold;
}


.cms_ajax_link_selected:visited {
  padding:0 4px;
  margin:0;
  color: #FFFFFF;
  background-color:#DDDDDD;
  text-decoration:none;
}

.cms_ajax_link_selected:hover {
  padding:0 4px;
  margin:0;
  color: #CCCCCC;
  background-color:#6765f6;
  text-decoration:none;
}

.cms_ajax_link_modified {
  padding:0 4px;
  margin:0;
  color: #FF0000;
  text-decoration:none;
  font-weight:bold;
}


.cms_ajax_link_modified:visited {
  padding:0 4px;
  margin:0;
  color: #6566f4;
  text-decoration:none;
  font-weight:bold;
}

.cms_ajax_link_modified:hover {
  padding:0 4px;
  margin:0;
  color: #005acf;
  background-color:#cfc300;
  text-decoration:none;
  font-weight:bold;
}


/* Header Styles */

#cms_header {
 margin:0px;
 padding: 0px 0px;
 height:100px;
 width:100%;
 position:absolute;
 top:0px;
 left:0px;
 z-index:1000;
 color:#000000;
}
  #cms_header { color:#000000; }
  
  #cms_header #cms_info_line { color:#000000; }
  

  body > div#cms_header {
  position:fixed;
  
  }

  #cms_header img {
  border:0px;
  padding:0px;
  margin:0px;
  }

  #cms_header a {
    border:0px;
    padding:0px;
    margin:0px;
    color:#3b648c
  }
  
  #cms_header a:hover {
    border:0px;
    padding:0px;
    margin:0px;
    color:#3b648c
    
  }

  #cms_info_line {
    padding:5px 5px;
    margin:0px;
    height:18px;
    border-bottom:1px solid #3b648c;
    
    position:relative;
    z-index:500;
    background-color:#bbd6e1;

  }
  
    #cms_page_info {
    float:left;
    }
    
    #cms_modification_info {
    float:right;
    }

  #cms_icon_line {
  clear:both;
  height:28px;
  padding: 5px 5px 4px 5px;
  border-bottom:1px solid #3b648c;
  position:relative;
  z-index:499;
  background-color:#bbd6e1;


  
  }

  #cms_toolbars {
  padding:2px 0;
  margin:0px;
  overflow:hidden;
  height:30px;
  text-align:left;
  z-index:498;
  position:relative;
 background-color:#F0F0EE;
  
  }

#cms_add_paragraph {
  padding:4px;
  color:#FFFFFF;
  background-color:#FFFFFF;
  font-weight:bold;
  text-align:center;
  white-space:nowrap;
  position:absolute;
  border:1px solid #CCCCCC;
}

.cms_add_paragraph_zone {
 background-color:#F4b639;
 color:#111111;
 text-align:center;
 font-size:12px;
 font-family: Arial;
 height:16px;
 cursor:pointer;
 z-index:101;
}

.cms_add_element_zone {
 padding:10px;
 margin:0px;
 background-color:#F4b639;
 font-size:12px;
 font-family: Arial;
 height:20px;
 color:#111111;
 text-align:center;
 cursor:pointer;
 z-index:101;
}

.cms_paragraph_zone_drop {
 opacity: .6;
 filter: alpha(opacity=60);
 background-color:#CCCCCC;
 min-height:20px;
 height:auto !important;
 height:20px;
 
}

#cms_html_toolbar {

}

#cms_page_content {
 padding:100px 0 0 0;
 z-index:100;
}


#cms_page_content div.cms_paragraph_icon {
  cursor:move;
  padding:0px;
  margin:0px;
}

#cms_page_content div.cms_paragraph_menu {
 background-color:#CCCCCC;
  padding:0px;
  margin:0px;
}

#cms_page_content div.cms_paragraph_menu_selected {
  background-color:#96ccd9;
  padding:0px;
  margin:0px;
}


/* Standard Styles **/
#cms_header div.cms_popup {
	padding:5px;
	margin:5px;
	background-color:#FFFFFF;
  color:#000000; 
	border:1px solid #000000;
	position:absolute;
  white-space:nowrap; 
  text-align:left; 
  z-index:1000;
}

#cms_select_page {
 width: 600px;
 height: 400px;
 overflow:auto;

}

#cms_page_content div.cms_div {
  padding:0px;
  margin:0px;
}

#cms_page_content div.cms_paragraph {
 border:0px;
 text-align:left;
}

#cms_page_content div.cms_framework_feature {
 border:0px;
 text-align:left;
}

#cms_page_content div.cms_paragraph_editor {
 position:relative;
}

#cms_page_content div.cms_div {
 position:relative;
}


#cms_page_content div.cms_paragraph_editor_cover {
 position:absolute;
 width:100%;
 height:100%;
}

#cms_page_content div.cms_paragraph_editor_cover:hover  {
 position:absolute;
 width:100%;
 height:100%;
 opacity: .3;
 filter: alpha(opacity=30);
 background-color:#BBBBBB;
 cursor:pointer;

}

#cms_page_content div.cms_rendered_wrapper {
 padding:0px;
 margin:0px;
}


.mceToolbarExternal {
 text-align:left;
 visibility:hidden;
}


/* Overlay Styles */
#RB_redbox div.cms_form p {
  margin:0px;
  padding:0px;
}

#RB_redbox div.cms_form {
  border-top:1px solid #444444;
  border-left:1px solid #444444;
  border-right:3px solid #000000;
  border-bottom:3px solid #000000;
  padding:10px;
  height:auto;
  width:auto;
  overflow:auto;
  color:#000000;
  font-size:12px;
  font-family:Verdana;
}

#RB_redbox div.cms_form span {
  padding:0px;
  margin:0px;
}

#RB_redbox div.cms_form div {
  padding:0px;
  margin:0px;
}

#RB_redbox .cms_form h3 {
  font-style: normal;
  font-family: Verdana;
  font-size:14px;
  font-weight:bolder;
  border-bottom:1px solid #000000;
  margin-bottom:10px;
  color : #343434;
}

#RB_redbox div.cms_form table {
  width:auto;
}

#RB_redbox div.cms_form table td.header {
  font-weight:bolder;
  border-bottom:1px solid #000000;
}

#RB_redbox div.cms_form img {
  padding:0px;
  margin:0px;
  border:0px;
}

#RB_redbox div.cms_form hr {
  border:0px;
  border-top: 1px solid #AAAAAA;
}

#RB_redbox div.cms_form td {
  padding:2px 5px;
  font-size:12px;
  font-family:Verdana;
}

#RB_redbox div.cms_form td.data_vertical {
 padding:2px 5px 0px 5px;
}


#RB_redbox div.cms_form td.label {
  color:#444444;
}

#RB_redbox div.cms_form td.label_vertical {
  color:#444444;
}


#RB_redbox div.cms_form td.description  {
  color:#999999;
  padding-top:0px;
  padding-bottom:6px;
  font-size:11px;
}

#RB_redbox div.cms_form td.description_vertical {
  color:#999999;
  padding-top:0px;
  padding-bottom:6px;
  font-size:11px;
}

#RB_redbox div.cms_form td.text_field_control input {
 border:1px solid #999999;
 padding:2px;
}

#RB_redbox div.cms_form td.text_area_control input {
 border:1px solid #999999;
 padding:2px;
}

#RB_redbox div.cms_form td.error {
 color:#FF0000;
}

/* Generic Ajax Styles */
	
.ajax_loader {
  width:100%;
  padding-top:20px;
  height:150px;
  background-image:url(/images/loading.gif);
  background-position: center center;
  background-repeat:no-repeat;
}
	
.ajax_link {
  padding:0;
  margin:0 4px;
  color: #005acf;
  text-decoration:none;
}

.ajax_link:hover {
  padding:0;
  margin:0 4px;
  color: #005acf;
  background-color:#92b3e1;
  text-decoration:none;
}

.ajax_tabs {
	width:100%;
	position:relative;
}

.ajax_link_selected {
  padding:0;
  margin:0 4px;
  color: #000000;
  text-decoration:none;
}

.ajax_link_selected:hover {
  padding:0;
  margin:0 4px;
  color: #000000;
  text-decoration:none;

}


.large_ajax_link {
  padding:0;
  margin:0 4px;
  color: #005acf;
  font-size:14px;
  text-decoration:none;
}
    
    .large_ajax_link:hover {
      padding:0;
      margin:0 4px;
      color: #005acf;
      background-color:#92b3e1;
      text-decoration:none;
    }
    
    .large_ajax_link_selected {
      padding:0;
      margin:0 4px;
      color: #f79239;
      font-size:14px;
      text-decoration:none;
    }
    
    .large_ajax_link_selected:hover {
      padding:0;
      margin:0 4px;
      color: #f79239;
      text-decoration:none;
    
    }
    


.ajax_tabs {
	width:100%;
	position:relative;
}
    
    .ajax_tabs td.normal {
    padding:5px 10px;
    border-bottom:1px solid #CCCCCC;
    border-top:1px solid #CCCCCC;
    white-space: nowrap;
    background-color:#f3f6f8;
    }
    
    .ajax_tabs td.extra {
    white-space: nowrap;
    padding:0px 10px;
    width:100%;
    border:0;
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
    background-color:#f3f6f8;
    }
    
    .ajax_tabs td.selected {
      white-space: nowrap;
      padding:5px 10px;
      border:0;
      border-left:1px solid #CCCCCC;
      border-right:1px solid #CCCCCC;
      border-top:1px solid #CCCCCC;
    background-color:#FFFFFF;
    }
    
    .ajax_tabs td.content {
      border:0px;
      padding:5px;
      white-space: normal;
    }
    

/* Popup CSS */

#overDiv .cms_popup_text {
  padding:5px !important;
  background-color:white !important;
  color:black !important;
}

#overDiv .cms_popup_text a {
  color:black  !important;
  text-decoration:underline !important;
  padding:2px 0px  !important;
}

#overDiv .cms_popup_text hr {
  height:1px;
  margin:4px 0px; 
  color:black;
  background-color:black;
}


#overDiv .cms_popup_bg {
  border:1px solid #a6cdda;
  background-color:white;
  color:black;

}

#overDiv .cms_popup_caption {
  color:#3b648c;
    background-color:#a6cdda;
  font-weight:bold;
}



/* Ordered Selection List Stuff */

.ordered_selection_list {
 padding:5px;
 border:1px solid #CCCCCC;
 margin:4px 0px;
 width:300px;
 overflow:auto;
 

}

.ordered_selection_list_item {
 clear:both;
 cursor:pointer;
 padding:2px;
 margin:2px !important;
 background-color:#DDDDDD;
 position:relative;
 font-weight:bold;
 color:#666666;
 margin:4px;
}

.ordered_selection_list_value {
 
}

.ordered_selection_list_remove {
 position:absolute;
 right:5px;

}

.ordered_selection_list_remove a { text-decoration: none; font-weight:bold; color:black; }



#cms_header   .site_node_modifier { width:17px; height:17px; display:inline-block; vertical-align:middle;}
#cms_header   .site_node { width:17px; height:17px; display:inline-block;  vertical-align:middle;}
#cms_header   .domain_node { background:url(../images/icons/site_tree.gif) -34px 0px no-repeat; }
#cms_header   .page_node { background:url(../images/icons/site_tree.gif) -51px 0px no-repeat; }
#cms_header   .module_node { background:url(../images/icons/site_tree.gif) -68px 0px no-repeat; }
#cms_header   .redirect_node { background:url(../images/icons/site_tree.gif) -85px 0px no-repeat; }
#cms_header   .document_node { background:url(../images/icons/site_tree.gif) -135px no-repeat; }
#cms_header   .group_node { background:url(../images/icons/site_tree.gif) -152px 0px no-repeat; }

#cms_header   .framework_modifier { background:url(../images/icons/site_tree.gif) 0px 0px no-repeat; }
#cms_header  .template_modifier{ background:url(../images/icons/site_tree.gif) -17px 0px no-repeat; }
#cms_header   .lock_modifier{ background:url(../images/icons/site_tree.gif) -101px 0px no-repeat; }
#cms_header   .ssl_modifier{ background:url(../images/icons/site_tree.gif) -118px 0px no-repeat; }
#cms_header   .domain_modifier{ background:url(../images/icons/site_tree.gif) -169px 0px no-repeat; }

#cms_header   .sprite_icon {  width:17px; height:17px; display:inline-block; vertical-align:middle;}
#cms_header   .folder_sprite { background:url(../images/icons/site_tree.gif) -152px 0px no-repeat; }
#cms_header   .folder_template_sprite { background:url(../images/icons/site_tree.gif) -186px no-repeat; }
#cms_header   .domain_sprite { background:url(../images/icons/site_tree.gif) -169px 0px no-repeat; }
#cms_header   .lock_sprite{ background:url(../images/icons/site_tree.gif) -101px 0px no-repeat; }


