<%= f.text_field :name %>
<%= f.text_field :database_limit, :label => 'Database limit'.t %>
<%= f.text_field :domain_limit, :label => 'Domain limit'.t %>
<%= f.text_field :max_client_users %>
<%= f.text_field :max_file_storage, :unit => 'MB' %>
