<script>
<%= active_table_javascript %>
</script>

<% action_panel  do |p| -%>
  <%= p.link 'New Client',:action => 'new', :icon => 'add.png' %>
<% end -%>

<div class='admin_content'>
<div id='client_table'>
<%= render :partial => 'client_table' %>
</div>
<div>
