<script>
<%= active_table_javascript %>
</script>

<div class='admin_content'>

<ul class='action_panel'>
  <li><a href='<%= url_for :action => 'new' %>'><%= theme_icon("action","icons/actions/add.gif") %><%= "New Client".t %></li>
</ul>

</div>

<hr/>

<div class='admin_content'>
<div id='client_table'>
<%= render :partial => 'client_table' %>
</div>
<div>
