<div class='admin_content'>
  <h3><%= @error_message %></h3>
  <% if @review -%><p>This problem has been logged automatically by the system and will reviewed by the System Administrators.</p><% end -%>
</div>
