<% action_panel do |p| -%>
  <%= p.link 'Add a new Token', :action => 'edit_editor', :icon => 'add.gif' %>
<% end -%>

<hr/>

<div class='admin_content'>
  <div id='access_token_table'>
    <%= render :partial => 'editor_access_token_table' %> 
    
  </div>

</div>
