<% raise 'Please Call cms_page_paths inside of your administration controller' unless @cms_page_info -%>
<!DOCTYPE html>
<html>
<head>
<%= render :partial => '/application/header' %>

</head>
<body onload='<%= @onload %>'> 
<%= render :partial => '/layouts/themes/' + theme + '/manage' %>
</body>
</html>
