
<% cms_unstyled_fields_for :builder, @builder do |f| %>
<li style="padding-left: 5px;">
<%= f.select :operation, @builder.operation_options, {}, :onchange => 'OperationBuilder.updateArguments();', :style => 'width:250px;' %>
</li>

<li id="arguments" class="arguments">
<%= render :partial => 'operation_form_arguments' %>
</li>

<% end %>
