<div class='cms_form'>
<h2><%= "Refreshing %s User List" / @segment.name %></h2>
<p><%= "Please wait while user list is updated." %></p>
</div>

<script>
MemberEditor.refreshUserListStatus();
</script>
